<h2>
  <mat-icon>face</mat-icon>
  Qui suis-je?
</h2>
<div class="content qui-suis-je">
  <p>
    Mon nom est Gabriel Claveau-Baril, je suis un homme âgé de <i>{{age}} ans</i>, diplômé du <i>DEC Techniques
    d'intégration Multimédia</i> et me spécialise dans le domaine du <i>développement d'application web</i> depuis
    maintenant plus de <i>{{experience}} ans</i>.
  </p>
  <p>
    Étant une personne <i>dynamique</i> et <i>facile d'approche</i>, j'ai beaucoup de facilité à
    m'intégrer au sein de nouvelles équipes de travail. Je suis doté d'une <i>grande imagination</i> et, par le fait
    même, recherche fréquemment l'opportunité de <i>faire valoir mes idées</i>. Je suis principalement motivé par la <i>diversité</i>
    ainsi que le <i>progrès des technologies</i>. Je suis à la recherche d'un milieu de travail <i>décontracté</i>
    suscitant un <i>sentiment d'appartenance</i> afin de pouvoir m'y investir à 110%.
  </p>
  <p>
    Mes compétences résident principalement dans le développement d’applications web et mobiles, la conception
    d’architectures applicatives, la gestion de projets, la conception d’interfaces utilisateurs intuitives, ainsi que
    l'utilisation de frameworks et librairies Front-End tels que Angular, React et Flutter.
  </p>
  <p>
    Que ce soit pour discuter en détails de mes qualifications ou simplement converser du merveilleux domaine
    qu'est le développement applicatif, ne soyez pas timides et contactez moi par téléphone au <a
    href="tel:+15812340544">(581) 234-0544</a>
    ou encore par courriel à l'adresse <a href="mailto:gabriel.baril.gb@gmail.com">gabriel.baril.gb@gmail.com</a>.
  </p>

</div>
