<h2>
  <mat-icon>face</mat-icon>
  Qui suis-je?
</h2>
<div class="content qui-suis-je">
  <p>
    Mon nom est Gabriel Claveau-Baril, je suis un homme âgé de <i>{{age}} ans</i>, dîplomé du <i>DEC Techniques
    d'intégration Multimédia</i> et me spécialise dans le domaine du <i>développement d'application web</i> depuis
    maintenant plus de <i>{{experience}} ans</i>.
  </p>
  <p>
    Je suis une personne <i>dynamique</i> et <i>facile d'approche</i>, j'éprouve ainsi beaucoup de faciliter à
    m'intégrer au sein de nouvelles équipes de travail. Je suis dôté
    d'une <i>grande imagination</i> et, par le fait même, recherche fréquemment l'opportunité de <i>faire valoir mes
    idées</i>. Je suis
    principalement motivé par la <i>diversité</i> ainsi que le <i>progrès des technologies</i>. Je suis a la recherche
    d'un millieu de
    travail <i>familier</i> suscitant un <i>sentiment d'appartenance</i> afin de pouvoir m'y investir a 110%.
  </p>
  <p>
    Mes compétences résident principalement dans les éléments suivants :
    <br/>
    Développement d’applications web et mobiles; Conception d’architectures applicatives; Gestion de projets; Conception
    d’interfaces utilisateurs intuitives; Utilisation de frameworks et librairies Front-End tels que Angular, React et
    Flutter;
  </p>
  <p>
    Que ce soit afin de discuter en détails de mes qualifications ou simplement converser du merveilleux domaine
    qu'est le développement applicatif, ne soyez pas timides et contactez moi par téléphone au <a
    href="tel:+15812340544">(581) 234-0544</a>
    ou encore par courriel à l'adresse <a href="mailto:gabriel.baril.gb@gmail.com">gabriel.baril.gb@gmail.com</a>.
  </p>

</div>
