<main>
  <nav class="sidebar-ctn">
    <div class="sidebar">
      <a class="link" routerLink="/qui-suis-je" routerLinkActive="active">
        <mat-icon>face</mat-icon>
      </a>
      <a class="link" routerLink="/competences" routerLinkActive="active">
        <mat-icon>whatshot</mat-icon>
      </a>
      <a class="link" routerLink="/experience" routerLinkActive="active">
        <mat-icon>work</mat-icon>
      </a>
      <a class="link" routerLink="/formation" routerLinkActive="active">
        <mat-icon>school</mat-icon>
      </a>
      <a class="link" routerLink="/mandats" routerLinkActive="active">
        <mat-icon>assignment</mat-icon>
      </a>
    </div>
  </nav>
  <div class="body-ctn">
    <h1>Gabriel Claveau-Baril</h1>
    <router-outlet></router-outlet>
  </div>
  <button mat-fab color="accent">
    <mat-icon>get_app</mat-icon>
  </button>
</main>
