<h2><mat-icon>whatshot</mat-icon> Connaissances Techniques</h2>
<section class="competences">
  <div>
    <h3>Langages de programmation</h3>
    <ul>
      <li>Typescript</li>
      <li>Javascript</li>
      <li>HTML</li>
      <li>CSS</li>
      <li>Php</li>
    </ul>
  </div>
  <div>
    <h3>Frameworks de développement</h3>
    <ul>
      <li>Angular 2+</li>
      <li>Ngrx</li>
      <li>AWS Amplify</li>
      <li>PWA</li>
      <li>Flutter</li>
      <li>React</li>
      <li>NetlifyCMS</li>
      <li>Lightspeed</li>
    </ul>
  </div>
  <div>
    <h3>Environnement serveurs</h3>
    <ul>
      <li>AWS</li>
      <li>Serverless</li>
      <li>Docker</li>
    </ul>
  </div>
  <div>
    <h3>Outils de développement</h3>
    <ul>
      <li>PhpStorm</li>
      <li>VS Code</li>
      <li>Android Studio</li>
      <li>XCode</li>
      <li>DBeaver</li>
      <li>Postman</li>
      <li>GitKraken</li>
    </ul>
  </div>
  <div>
    <h3>Planification et contrôle de projet</h3>
    <ul>
      <li>JIRA</li>
      <li>Hygger</li>
      <li>Azure Devops</li>
      <li>Bitbucket</li>
      <li>Github</li>
    </ul>
  </div>
  <div>
    <h3>Logiciels bureautiques</h3>
    <ul>
      <li>G Suite</li>
      <li>Adobe Photoshop</li>
      <li>Adobe Illustrator</li>
      <li>Adobe XD</li>
    </ul>
  </div>
</section>
