<h2><mat-icon>language</mat-icon> LANGUES PARLÉES ET ÉCRITES</h2>
<div class="content langues">
  <div>
    <h3><span>Français</span></h3>
    <table>
      <tr>
        <td>Parlé</td>
        <td><i>Excellent</i></td>
      </tr>
      <tr>
        <td>Écrit</td>
        <td><i>Très bon</i></td>
      </tr>
    </table>
  </div>
  <div>
    <h3><span>Anglais</span></h3>
    <table>
      <tr>
        <td>Parlé</td>
        <td><i>Intermédiaire</i></td>
      </tr>
      <tr>
        <td>Écrit</td>
        <td><i>Intermédiaire</i></td>
      </tr>
    </table>
  </div>
</div>
