@import url('https://fonts.googleapis.com/css?family=Oswald|Source+Code+Pro&display=swap');
@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  src: local('Pacifico Regular'), local('Pacifico-Regular'), url(https://fonts.gstatic.com/s/pacifico/v12/FwZY7-Qmy14u9lezJ-6H6MmBp0u-.woff2) format('woff2');
  font-display: swap;
}

main .body-ctn {
  h1,
  h2,
  h3 {
    text-transform: uppercase;
    margin: 0 0 1.5rem 0;
  }

  h1,
  h2 {
    font-family: 'Oswald', sans-serif;
    color: mat-color($mat-gray, 900);
  }

  h3,
  h4,
  p,
  li {
    font-family: 'Source Code Pro', monospace;
    color: mat-color($mat-gray, 900);
  }

  h1 {
    font-size: 3rem;
    padding-bottom: 0.5rem;
    border-bottom: solid 4px mat-color($mat-gray, 900);
  }

  h2 {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    .mat-icon {
      margin-right: 0.5rem;
      font-size: 1.5rem;
      line-height: 1.5rem;
      width: 1.5rem;
      height: 1.5rem;
      //color: mat-color($mat-pink, A400);
    }
  }

  h3 {
    margin-bottom: 0.25rem;
    span {
      color: mat-color($mat-pink, A400);
      transition: all ease 0.2s;
      a {
        text-decoration: none;
        color: inherit;
        &:hover {
          color: darken(mat-color($mat-pink, A400), 10%);
        }
      }
    }
  }

  div.dates {
    font-family: 'Source Code Pro', monospace;
    text-transform: uppercase;
    font-size: 0.85rem;
    color: mat-color($mat-gray, 700);
  }
}
