<h2>Mandats</h2>
<section class="mandats">
  <div class="block">
    <h3><span>Mandat N°6</span> - <i>Kumulus CMS</i></h3>
    <div class="dates">Août 2019 à Janvier 2020</div>
    <p>Développement d’un CMS à l’interne dans le cadre d’un projet de R&D. Le projet est développé dans l’optique de
      faciliter le développement futur d’application web de complexité simple à modéré et est basé sur un stack
      technologique serverless.</p>
    <h4>Responsabilités à titre de <i>Lead Développeur Front-end</i></h4>
    <ul>
      <li>Superviser le développement du projet;</li>
      <li>Documenter les différents processus de Recherche & Développement;</li>
      <li>Concevoir l’architecture front-end du projet;</li>
      <li>Concevoir et intégrer les éléments visuels du projet;</li>
      <li>Réviser les pull requests en lien au développement front-end;</li>
      <li>Écrire et modifier le code source du projet;</li>
    </ul>
  </div>

  <div class="block">
    <h3><span>Mandat N°5</span> - <i>Plateforme de rapports personnalisés Zoho</i></h3>
    <div class="dates">Juillet 2019 à Août 2019</div>
    <p>Développement d’une plateforme permettant la création et gestion de rapports d’utilisation Zoho
      personnalisés.</p>
    <h4>Responsabilités à titre de <i>Lead Développeur Front-end</i></h4>
    <ul>
      <li>Analyser les besoins des utilisateurs;</li>
      <li>Concevoir l’architecture front-end du projet;</li>
      <li>Concevoir et intégrer les éléments visuels du projet;</li>
      <li>Écrire et modifier le code source du projet;</li>
    </ul>
  </div>

  <div class="block">
    <h3><span>Mandat N°4</span> - <i>Surplus Militaire Pont-Rouge</i></h3>
    <div class="dates">Février 2019 à Juillet 2019</div>
    <p>Le projet consiste au développement d’une plateforme personnalisé pour la génération de rapports financiers, au
      développement d’un thème personnalisé pour la plateforme de commerce en ligne Lightspeed, ainsi que de supports
      pour l’aide a la configuration de la plateforme de commerce au détail.</p>
    <h4>Responsabilités à titre de <i>Lead Développeur</i></h4>
    <ul>
      <li>Superviser le déroulement du projet;</li>
      <li>Superviser les communications avec le client;</li>
      <li>Superviser les demandes de support auprès du fournisseur (Lightspeed);</li>
      <li>Analyser les besoins du client;</li>
      <li>Concevoir l’architecture front-end du projet;</li>
      <li>Concevoir et intégrer les éléments visuels du projet;</li>
      <li>Écrire et modifier le code source du projet;</li>
    </ul>
  </div>

  <div class="block">
    <h3><span>Mandat N°3</span> - <i>Wikinet</i></h3>
    <div class="dates">Mars 2019 à Avril 2019</div>
    <p>Le projet consistait à l’analyse UX d’une plateforme web existante et émettre des recommandations dans le but de
      permettre l’amélioration de l’expérience utilisateur. Une seconde phase du projet consistait à procéder aux
      correctifs suite aux différentes recommandations acceptés par le client.</p>
    <h4>Responsabilités à titre de <i>Programmeur-Analyste Front-end</i></h4>
    <ul>
      <li>Analyser les besoins des utilisateurs;</li>
      <li>Analyser l’expérience utilisateur du projet;</li>
      <li>Rédiger des recommandations pour l’amélioration de la plateforme;</li>
      <li>Superviser les modifications front-end aux interfaces;</li>
      <li>Écrire et modifier le code source du projet;</li>
      <li>Rédiger un guide de bonnes pratiques à respecter pour la suite du développement;</li>
    </ul>
  </div>

  <div class="block">
    <h3><span>Mandat N°2</span> - <i>Accent Contrôles Électroniques</i></h3>
    <div class="dates">Octobre 2018 à Mai 2019</div>
    <p>Développement d’une plateforme web permettant la gestion, le suivis ainsi que la génération de rapport en lien
      aux parcours d’une flotte d’épandeuses.</p>
    <h4>Responsabilités à titre de <i>Lead Développeur Front-end</i></h4>
    <ul>
      <li>Analyser les besoins des utilisateurs et du client;</li>
      <li>Concevoir l’architecture front-end du projet;</li>
      <li>Concevoir et intégrer les éléments visuels du projet;</li>
      <li>Écrire et modifier le code source du projet;</li>
    </ul>
  </div>

  <div class="block">
    <h3><span>Mandat N°1</span> - <i>Application Security Hub</i></h3>
    <div class="dates">Septembre 2017 à Octobre 2018</div>
    <p>Développement d’une plateforme web permettant la supervision et rédactions de différents rapports de tests de
      pénétrations. Le projet consistait au développement d’un outil interne pour faciliter le travail de l’équipe de
      sécurité CGI ainsi que la communications des dis rapports et recommandations auprès du client.</p>
    <h4>Responsabilités à titre de <i>Lead Développeur Front-end</i></h4>
    <ul>
      <li>Analyser les besoins des utilisateurs;</li>
      <li>Concevoir l’architecture front-end du projet;</li>
      <li>Concevoir et intégrer les éléments visuels du projet;</li>
      <li>Réviser les pull requests en lien au développement front-end;</li>
      <li>Écrire et modifier le code source du projet;</li>
    </ul>
  </div>
</section>
